<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Technica</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    

        <!--Google fonts links-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <!--  -->
        <link rel="stylesheet" href="/static/icons/shield-shaded.svg">

        <!--For Plugins external css-->
        <link rel="stylesheet" href="/static/css/plugins.css" />
        <link rel="stylesheet" href="/static/css/roboto-webfont.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/static/css/responsive.css" />

        <!-- logo -->
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Sections -->
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="bi bi-twitter-x"></i></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a href="#"><i class="fa fa-envelope"></i>contact@technica.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#"><img src="assets/images/technica.png" width="80px"  alt="Logo" /></a> -->
                    <div class="logo navlogo"><a href="#home" style="color: #3651bf;">Technica<sup style="font-size: 18pt;">™</sup></a></div> 
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="active">Home</li> -->
                        <li><a href="#features">PRODUCT</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#price">PRICE</a></li>
                        <li><a href="#business">Business</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="login"><a href="#">Sign In</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">

                                    <h1 style="font-size: 32pt;">Solve your problems With <div class="logo">Technica<sup style="font-size: 18pt;">™</sup></div> 
                                    </h1>
                                    <p id="slogan">Your software partner for success</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </header>

        <!-- Sections -->
        <section id="features" class="features sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">

                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="/static/images/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="" />
                            </div>
                        </div>

                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>OUR PRODUCTS</h2>
                                <p>We are helping businesses and consumers to improve your productivity and efficiency by providing our products.</p>
                                <ul>
                                    <li>Operating systems guides.</li>
                                    <li>Business applications.</li>
                                    <li>Web development tools.</li>
                                </ul>
                                <div class="features_buttom">
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->
        <section id="features" class="features sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">



                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>OUR SERVICES</h2>
                                <p>Boost you productivity and efficiency with our services .</p>
                                <ul>
                                    <li>Cloud computing services.</li>
                                    <li>Software support and maintenance.</li>
                                    <li>Software consulting.</li>
                                </ul>
                                <div class="features_buttom">
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="/static/images/lukas-blazek-mcSDtbWXUZU-unsplash.jpg" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->

        <!-- Sections -->
        <section id="business" class="portfolio sections">
            <div class="container">
                <div class="head_title text-center">
                    <h1>Our products and services</h1>
                    <p>These are some of our products and services that we provide to our customers</p>
                </div>

                <div class="row">
                    <div class="portfolio-wrapper text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-book"></i>
                                <div class="separator"></div>
                                <h4>Documentation</h4>
                                <p>We provide documentation services to help our clients understand how our software products work.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="bi bi-shield-shaded"></i>
                                <div class="separator"></div>
                                <h4>Cybersecurity</h4>
                                <p>We provide a wide range of cybersecurity products and services like: Antivirus software, Firewall software</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-gears"></i>
                                <div class="separator"></div>
                                <h4>Software support and maintenance</h4>
                                <p>We provide support and maintenance services for their software products. This includes helping customers to fix bugs, install updates, and troubleshoot problems.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="bi bi-list-check"></i>
                                <div class="separator"></div>
                                <h4>Software testing and quality assurance</h4>
                                <p>We help businesses to test their software products to ensure that they meet quality standards.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Example row of columns -->
                <div class="row">
                    <div class="portfolio-wrapper2 text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-external-link"></i>
                                <div class="separator"></div>
                                <h4>Systems integration</h4>
                                <p>We help businesses to integrate their existing software systems with new systems.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <!-- <i class="fa fa-tree"></i> -->
                                <i class="fa fa-mortar-board"></i>
                                <div class="separator"></div>
                                <h4>Software training and education</h4>
                                <p>We provide training and education to businesses and individuals on how to use their software products</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="bi bi-cloud-fill"></i>
                                <div class="separator"></div>
                                <h4>Cloud computing services</h4>
                                <p>We help businesses to access computing resources on demand over the internet.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-folder-open"></i>
                                <div class="separator"></div>
                                <h4>Software prototyping</h4>
                                <p>We help businesses to create prototypes of their software products to get feedback from users and stakeholders.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- /container -->       
        </section>

        <section id="footer-menu" class="sections footer-menu">
            <div class="container">
                <div class="row">
                    <div class="footer-menu-wrapper">

                        <!-- <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Quick Links</h5>
                                    <ul>
                                        <li>POWER BI DESKTOP</li>
                                        <li>MOBILE</li>
                                        <li>SEE ALL DOWNLOADS</li>
                                        <li>POWER BI DESKTOP</li>
                                        <li>MOBILE</li>
                                        <li>SEE ALL DOWNLOADS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Legal</h5>
                                    <ul>
                                        <li>PRIVACY & COOKIES</li>
                                        <li>TERMS OF USE</li>
                                        <li>TRADEMARKS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>SUPPORT</li>
                                        <li>DEVELOPERS</li>
                                        <li>BLOG</li>
                                        <li>NEWSLETTER</li>
                                        <li>PYRAMID ANALYTICS</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="menu-item">
                                <h5>Newsletter</h5>
                                <p>Subscribe to our Newsletter Service reach out every updates</p>
                                <form action="post" action="/">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address" name="newsletter">
                                        <input type="submit" class="form-control" value="Subscribe">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <div class="logo navlogo">Technica<sup style="font-size: 18pt;">™</sup></div> 
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Made with ❤️ by <a href="https://www.linkedin.com/in/mohammed-sameh-abd-el-zahir-44b2b8218/s">Mohammed Sameh</a></p>
                            </div>

                        </div>
                         
                       
                    </div>
                </div>
            </div>
        </footer>


        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>

        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/main.js"></script>

    </body>
</html>
